sudo: required

language: python

services:
  - docker

before_install:
  - sudo apt update && sudo apt install curl libfcgi0ldbl -y
  - docker build -t 03192859189254/docker-magento-apache-alpine:7.0-dev .

script:
# Starting container
 - TEST_CONTAINER_ID=$(docker run -d -p 127.0.0.1:30000:9000 03192859189254/docker-magento-apache-alpine:7.0-dev)

# Injecting test file
 - docker exec $TEST_CONTAINER_ID /bin/sh -c "echo '<?php phpinfo(); ?>' > /var/www/html/test.php"

# Testing
 - SCRIPT_NAME=/test.php
 - SCRIPT_FILENAME=/test.php
 - REQUEST_METHOD=GET
 - MAX_TRIES=150
 - SECONDS_BETWEEN_TRIES=1
 - c=1; while [ $c -le ${MAX_TRIES} ] && ! cgi-fcgi -bind -connect 127.0.0.1:30000; do echo "Try $c failed"; sleep ${SECONDS_BETWEEN_TRIES}; ((c++)); done

# Cleaning
 - docker exec $TEST_CONTAINER_ID /bin/sh -c "rm /var/www/html/test.php"



after_success:
  - if [ "$DOCKER_USERNAME" ]; then
    docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD" $DOCKER_REGISTER;
    docker tag 03192859189254/docker-magento-apache-alpine:7.0-dev ${DOCKER_REGISTER}/${DOCKER_USERNAME}/docker-magento-apache-alpine:7.0-dev;
    docker push ${DOCKER_REGISTER}/${DOCKER_USERNAME}/docker-magento-apache-alpine:7.0-dev;
    fi